.user{
    display: grid;
    grid-template-areas: "i b";
    grid-template-columns: 2fr 10fr;
    margin: 5px;

}
.item{
    grid-area: i;
    background-color: chartreuse;
    padding: 5px;

}
.item img {
    width: 100px;
    height: 100px;
    border-radius: 30px;
}
.block{
    grid-area: b;
    background-color: cornflowerblue;
    border: solid gray 4px;
    padding: 5px;
}
